In [152]:
import yfinance as yf 
import time
import datetime
import pandas as pd
import sqlite3

In [166]:
month_symbol_mapper = {
    'jul':'N',
    'aug':'Q',
    'sep':'U',
    'oct':'V',
    'nov':'X',
    'dec':'Z',
    'jan':'F',
    'feb':'G',
    'mar':'H',
    'apr':'J',
    'may':'K',
    'jun':'M',
}

def oil_futures_ticker_generator(year='22',month='jan'):
    ticker =  f"CL{month_symbol_mapper[month]}{year}.NYM"
    print(ticker)
    return ticker

def get_yahoo_data(ticker="CLN22.NYM",start=None,end=None):
    yahoo_ticker_interface = yf.Ticker(ticker)
    if start is None or end is None:        
        price_data = yahoo_ticker_interface.history(period='max')
    else:
        price_data = yahoo_ticker_interface.history(start=start,end=end)
    price_data.drop(labels=['Dividends','Stock Splits'], axis=1, inplace=True)
    price_data['Ticker']=ticker
    return price_data

def get_front_month():
    month_string = datetime.datetime(datetime.date.today().year,datetime.date.today().month+2,1).strftime('%b').lower()
    month_number = datetime.datetime(datetime.date.today().year,datetime.date.today().month+2,1).strftime('%-m')
    return {'month_string': month_string, 'month_number':month_number}

def get_back_month():
    month_string = datetime.datetime(datetime.date.today().year,datetime.date.today().month+3,1).strftime('%b').lower()
    month_number = datetime.datetime(datetime.date.today().year,datetime.date.today().month+3,1).strftime('%-m')
    return {'month_string': month_string, 'month_number':month_number}

def get_current_cycle():
    cycle_start = datetime.datetime(datetime.date.today().year,datetime.date.today().month,1)
    today = datetime.date.today()
    return {'cycle_start':cycle_start, 'today':today}

In [167]:
front_month = get_front_month()
back_month = get_back_month()
front_month_ticker = oil_futures_ticker_generator(month= front_month['month_string'])
back_month_ticker = oil_futures_ticker_generator(month= back_month['month_string'])
current_cycle = get_current_cycle()
front_month_data = get_yahoo_data(ticker=front_month_ticker,start=current_cycle['cycle_start'],end=current_cycle['today'])
back_month_data = get_yahoo_data(ticker=back_month_ticker,start=current_cycle['cycle_start'],end=current_cycle['today'])

CLN22.NYM
CLQ22.NYM

In [168]:
front_month_data.head()

                  Open        High         Low       Close  Volume     Ticker
Date
2022-05-02  102.150002  104.190002   98.870003  103.419998   89425  CLN22.NYM
2022-05-03  103.190002  104.059998  100.580002  100.900002   97505  CLN22.NYM
2022-05-04  101.989998  107.000000  101.410004  106.220001   92053  CLN22.NYM
2022-05-05  106.070000  109.769997  104.949997  106.739998   97440  CLN22.NYM
2022-05-06  107.070000  109.529999  105.720001  108.330002  119325  CLN22.NYM

In [169]:
back_month_data.head()

                  Open        High         Low       Close  Volume     Ticker
Date
2022-05-02  100.260002  102.110001   97.120003  101.379997   50035  CLQ22.NYM
2022-05-03  101.190002  102.040001   98.839996   99.220001   57321  CLQ22.NYM
2022-05-04  100.269997  105.120003   99.750000  104.419998   51765  CLQ22.NYM
2022-05-05  104.180000  107.800003  103.150002  104.860001   61801  CLQ22.NYM
2022-05-06  105.010002  107.529999  103.839996  106.480003   53139  CLQ22.NYM

In [170]:
merged = pd.merge(front_month_data, back_month_data, left_index=True, right_index=True, how='inner', suffixes=('_front','_back'))
merged['Time_Spread']= merged['Close_back']-merged['Close_front']
merged

,Open_front,High_front,Low_front,Close_front,Volume_front,Ticker_front,Open_back,High_back,Low_back,Close_back,Volume_back,Ticker_back,Time_Spread
Date,,,,,,,,,,,,,
2022-05-02,102.150002,104.190002,98.870003,103.419998,89425,CLN22.NYM,100.260002,102.110001,97.120003,101.379997,50035,CLQ22.NYM,-2.040001
2022-05-03,103.190002,104.059998,100.580002,100.900002,97505,CLN22.NYM,101.190002,102.040001,98.839996,99.220001,57321,CLQ22.NYM,-1.680000
2022-05-04,101.989998,107.000000,101.410004,106.220001,92053,CLN22.NYM,100.269997,105.120003,99.750000,104.419998,51765,CLQ22.NYM,-1.800003
2022-05-05,106.070000,109.769997,104.949997,106.739998,97440,CLN22.NYM,104.180000,107.800003,103.150002,104.860001,61801,CLQ22.NYM,-1.879997
2022-05-06,107.070000,109.529999,105.720001,108.330002,119325,CLN22.NYM,105.010002,107.529999,103.839996,106.480003,53139,CLQ22.NYM,-1.849998
2022-05-09,108.970001,109.000000,100.809998,101.769997,148435,CLN22.NYM,107.070000,107.129997,99.160004,100.099998,62872,CLQ22.NYM,-1.669998
2022-05-10,100.959999,102.779999,97.610001,98.449997,156436,CLN22.NYM,99.849998,101.010002,96.150002,96.870003,66358,CLQ22.NYM,-1.579994
2022-05-11,97.739998,104.739998,96.930000,104.029999,179721,CLN22.NYM,96.250000,102.809998,95.470001,102.199997,76907,CLQ22.NYM,-1.830002
2022-05-12,103.940002,105.550003,101.110001,104.400002,179610,CLN22.NYM,102.400002,103.480003,99.360001,102.419998,70925,CLQ22.NYM,-1.980003
2022-05-13,104.910004,108.769997,104.639999,108.629997,134308,CLN22.NYM,102.900002,106.389999,102.660004,106.269997,63131,CLQ22.NYM,-2.360001
2022-05-16,109.000000,112.470001,106.269997,111.820000,166037,CLN22.NYM,106.629997,109.529999,103.980003,108.910004,69781,CLQ22.NYM,-2.909996
2022-05-17,111.610001,113.199997,108.959999,109.629997,204749,CLN22.NYM,108.680000,110.150002,106.059998,106.760002,63863,CLQ22.NYM,-2.869995
2022-05-18,110.769997,112.389999,106.059998,107.040001,311837,CLN22.NYM,107.650002,109.180000,103.180000,104.070000,89803,CLQ22.NYM,-2.970001
2022-05-19,106.959999,110.160004,103.239998,109.889999,340077,CLN22.NYM,103.910004,107.029999,100.660004,106.820000,81521,CLQ22.NYM,-3.070000
2022-05-20,109.260002,111.040001,108.129997,110.279999,340077,CLN22.NYM,106.120003,107.839996,105.150002,107.169998,81521,CLQ22.NYM,-3.110001
2022-05-24,110.410004,110.540001,108.650002,108.669998,23980,CLN22.NYM,107.680000,107.680000,105.970001,106.010002,3995,CLQ22.NYM,-2.659996

In [171]:
oil = yf.Ticker("CLN22.NYM")
#oil.history(start=datetime.datetime(datetime.date.today().year,datetime.date.today().month-2,1))

oil = get_yahoo_data(ticker="CLN22.NYM", start=datetime.datetime(datetime.date.today().year,datetime.date.today().month-2,1), end=datetime.datetime.now())
oil
# ticker = oil_futures_ticker_generator(year='22',month='jul')
# hist['ticker']=ticker
# hist.head()
# hist.index

                  Open        High         Low       Close  Volume     Ticker
Date
2022-03-01   88.820000   94.650002   88.559998   92.639999   58813  CLN22.NYM
2022-03-02   94.900002   99.160004   93.279999   97.580002   92251  CLN22.NYM
2022-03-03   97.820000  102.349998   94.790001   96.779999   60183  CLN22.NYM
2022-03-04   97.059998  104.440002   97.000000  104.180000   57267  CLN22.NYM
2022-03-07  109.779999  116.430000  103.330002  107.720001   62041  CLN22.NYM
2022-03-08  108.629997  115.040001  105.910004  110.830002   73501  CLN22.NYM
2022-03-09  112.180000  113.669998   91.940002   97.260002   84957  CLN22.NYM
2022-03-10   98.080002  102.639999   95.570000   96.730003   87492  CLN22.NYM
2022-03-11   97.190002  100.610001   95.220001  100.480003   54173  CLN22.NYM
2022-03-14  100.639999  100.980003   93.669998   95.839996   38517  CLN22.NYM
2022-03-15   95.699997   95.940002   88.529999   90.870003   55492  CLN22.NYM
2022-03-16   89.199997   93.879997   88.739998   89.529999   35169  CLN22.NYM
2022-03-17   89.790001   97.830002   89.589996   96.980003   37266  CLN22.NYM
2022-03-18   97.320000   99.680000   96.449997   98.190002   27167  CLN22.NYM
2022-03-21   97.720001  104.959999   97.720001  103.980003   45362  CLN22.NYM
2022-03-22  104.760002  106.930000  101.730003  103.570000   49179  CLN22.NYM
2022-03-23  102.860001  108.949997  102.760002  108.650002   62096  CLN22.NYM
2022-03-24  108.000000  110.070000  104.669998  106.190002   46947  CLN22.NYM
2022-03-25  105.150002  108.120003  102.849998  107.930000   51840  CLN22.NYM
2022-03-28  106.589996  106.750000   97.860001  100.720001   68197  CLN22.NYM
2022-03-29   98.709999  102.660004   94.440002   99.650002   62425  CLN22.NYM
2022-03-30  100.599998  103.870003   99.940002  103.320000   48734  CLN22.NYM
2022-03-31  103.010002  103.320000   96.190002   96.879997  109884  CLN22.NYM
2022-04-01   98.150002   98.309998   94.760002   96.760002   78048  CLN22.NYM
2022-04-04   96.900002  101.099998   95.769997  100.599998   70157  CLN22.NYM
2022-04-05  100.809998  102.639999   97.510002   99.550003   56143  CLN22.NYM
2022-04-06   98.910004  101.360001   94.169998   94.629997   93706  CLN22.NYM
2022-04-07   95.129997   97.019997   92.650002   94.809998  100060  CLN22.NYM
2022-04-08   95.430000   97.360001   93.980003   97.010002   84227  CLN22.NYM
2022-04-11   97.220001   97.230003   92.150002   93.459999   85510  CLN22.NYM
2022-04-12   94.459999  100.029999   94.059998   99.400002   95008  CLN22.NYM
2022-04-13   99.709999  103.050003   98.779999  102.889999  104349  CLN22.NYM
2022-04-14  102.900002  106.010002  100.860001  105.440002   65995  CLN22.NYM
2022-04-18  105.480003  107.970001  104.519997  106.410004   52054  CLN22.NYM
2022-04-19  105.790001  107.089996  100.580002  101.160004   84095  CLN22.NYM
2022-04-20  101.540001  103.099998   99.199997  101.360001   68277  CLN22.NYM
2022-04-21  101.660004  104.470001  101.250000  102.959999   74664  CLN22.NYM
2022-04-22  102.010002  103.339996  100.080002  101.050003   60237  CLN22.NYM
2022-04-25  100.379997  100.480003   94.470001   97.669998   87649  CLN22.NYM
2022-04-26   97.769997  101.500000   96.370003  100.410004  100122  CLN22.NYM
2022-04-27  100.760002  101.680000   98.650002  100.680000   76993  CLN22.NYM
2022-04-28  100.589996  103.769997   98.750000  103.470001  104927  CLN22.NYM
2022-04-29  103.120003  105.989998  102.139999  102.940002   98345  CLN22.NYM
2022-05-02  102.150002  104.190002   98.870003  103.419998   89425  CLN22.NYM
2022-05-03  103.190002  104.059998  100.580002  100.900002   97505  CLN22.NYM
2022-05-04  101.989998  107.000000  101.410004  106.220001   92053  CLN22.NYM
2022-05-05  106.070000  109.769997  104.949997  106.739998   97440  CLN22.NYM
2022-05-06  107.070000  109.529999  105.720001  108.330002  119325  CLN22.NYM
2022-05-09  108.970001  109.000000  100.809998  101.769997  148435  CLN22.NYM
2022-05-10  100.959999  102.779999   97.610001   98.449997  156436  CLN22.NYM
2022-05-11   97.739998  104.739998   96.930000  104.029999  179721  CLN22.NYM
2022-05-12  103.940002  105.550003  101.110001  104.400002  179610  CLN22.NYM
2022-05-13  104.910004  108.769997  104.639999  108.629997  134308  CLN22.NYM
2022-05-16  109.000000  112.470001  106.269997  111.820000  166037  CLN22.NYM
2022-05-17  111.610001  113.199997  108.959999  109.629997  204749  CLN22.NYM
2022-05-18  110.769997  112.389999  106.059998  107.040001  311837  CLN22.NYM
2022-05-19  106.959999  110.160004  103.239998  109.889999  340077  CLN22.NYM
2022-05-20  109.260002  111.040001  108.129997  110.279999  340077  CLN22.NYM
2022-05-24  110.410004  110.540001  108.650002  108.690002   23982  CLN22.NYM

In [165]:
datetime.datetime(datetime.date.today().year,datetime.date.today().month,1)
#datetime.datetime(datetime.date.today().year,datetime.date.today().month+3,1).strftime('%h').lower()
#datetime.date.today().strftime('%b').lower()
# datetime.datetime.now()
#datetime.datetime(datetime.date.today().year,datetime.date.today().month+2,1).strftime('%-m')

datetime.datetime(2022, 5, 1, 0, 0)

## Database connectivity

In [153]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    return conn

In [154]:
conn = create_connection('futures.db')

In [183]:
def create_entry(conn, row):
    """
    Create a new futures price entry in the database's OIL_FUTURES_YAHOO table
    :param conn:
    :param row:
    :return: void
    """
    sql = '''INSERT INTO OIL_FUTURES_YAHOO(TICKER, DATE, OPEN, HIGH, LOW, CLOSE, VOLUME)
            VALUES(?,?,?,?,?,?,?)'''
    try:
        cur = conn.cursor()
        cur.execute(sql,row)
        conn.commit()
    except Exception as e:
        print(e)

In [186]:
for index,row in back_month_data.iterrows():
    print((row[5],index.date(),row[0],row[1],row[2],row[3],row[4]))
    row = (row[5],index.date(),row[0],row[1],row[2],row[3],row[4])
    create_entry(conn, row)

('CLQ22.NYM', datetime.date(2022, 5, 2), 100.26000213623047, 102.11000061035156, 97.12000274658203, 101.37999725341797, 50035)
('CLQ22.NYM', datetime.date(2022, 5, 3), 101.19000244140625, 102.04000091552734, 98.83999633789062, 99.22000122070312, 57321)
('CLQ22.NYM', datetime.date(2022, 5, 4), 100.2699966430664, 105.12000274658203, 99.75, 104.41999816894531, 51765)
('CLQ22.NYM', datetime.date(2022, 5, 5), 104.18000030517578, 107.80000305175781, 103.1500015258789, 104.86000061035156, 61801)
('CLQ22.NYM', datetime.date(2022, 5, 6), 105.01000213623047, 107.52999877929688, 103.83999633789062, 106.4800033569336, 53139)
('CLQ22.NYM', datetime.date(2022, 5, 9), 107.06999969482422, 107.12999725341797, 99.16000366210938, 100.0999984741211, 62872)
('CLQ22.NYM', datetime.date(2022, 5, 10), 99.8499984741211, 101.01000213623047, 96.1500015258789, 96.87000274658203, 66358)
('CLQ22.NYM', datetime.date(2022, 5, 11), 96.25, 102.80999755859375, 95.47000122070312, 102.19999694824219, 76907)
('CLQ22.NYM', datetime.date(2022, 5, 12), 102.4000015258789, 103.4800033569336, 99.36000061035156, 102.41999816894531, 70925)
('CLQ22.NYM', datetime.date(2022, 5, 13), 102.9000015258789, 106.38999938964844, 102.66000366210938, 106.2699966430664, 63131)
('CLQ22.NYM', datetime.date(2022, 5, 16), 106.62999725341797, 109.52999877929688, 103.9800033569336, 108.91000366210938, 69781)
('CLQ22.NYM', datetime.date(2022, 5, 17), 108.68000030517578, 110.1500015258789, 106.05999755859375, 106.76000213623047, 63863)
('CLQ22.NYM', datetime.date(2022, 5, 18), 107.6500015258789, 109.18000030517578, 103.18000030517578, 104.06999969482422, 89803)
('CLQ22.NYM', datetime.date(2022, 5, 19), 103.91000366210938, 107.02999877929688, 100.66000366210938, 106.81999969482422, 81521)
('CLQ22.NYM', datetime.date(2022, 5, 20), 106.12000274658203, 107.83999633789062, 105.1500015258789, 107.16999816894531, 81521)
('CLQ22.NYM', datetime.date(2022, 5, 24), 107.68000030517578, 107.68000030517578, 105.97000122070312, 106.01000213623047, 3995)

## testing the library

In [187]:
import yf_interface